{% extends 'base.html' %}

{% block content%}
<p>Bem vindo(a), {{ nome }}.<p>
<h2>Cadastro de Tarefas</h2>

{% if grupoTarefas %}
<p><table>
    <thead>
        <tr>
            <th>id</th>
            <th>Tarefa</th>
            <th>Voluntário</th>
            <th>Local</th>
            <th>Data</th>
            <th>Hora</th>
        </tr>
    </thead>
    <tbody>
        {% for tarefa in grupoTarefas %}
        <tr>
            <td>{{ tarefa[0] }}</td>
            <td>{{ tarefa[1] }}</td>
            <td>{{ tarefa[2] }}</td>
            <td><a href="https://www.google.com/maps/search/?api=1&query={{ defLocal(tarefa[3]) }}" target=”_blank”>{{ tarefa[3] }}</a></td>
            <td>{{ tarefa[4] }}</td>
            <td>{{ tarefa[5] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table></p>
{% else %}
<p>Não há tarefas.</p>
{% endif %}

<p>
<form action="{{ url_for('cadastroTarefa') }}" method="POST">
    {{ cadastro_tarefa.csrf_token }}
    <div class="form-group">
        <label>Tarefa</label>
        {{ cadastro_tarefa.tarefa() }}
        {% if cadastro_tarefa.errors.tarefa %}
        {{ cadastro_tarefa.errors.tarefa }}
        {% endif%}
    </div>
    <div class="form-group">
        <label>Local</label>
        {{ cadastro_tarefa.local() }}
        {% if cadastro_tarefa.errors.local %}
        {{ cadastro_tarefa.errors.local }}
        {% endif%}
    </div>
    <div class="form-group">
        <label>Data</label>
        {{ cadastro_tarefa.data() }}
        {% if cadastro_tarefa.errors.data %}
        {{ cadastro_tarefa.errors.data }}
        {% endif%}
    </div>
    <div class="form-group">
        <label>Hora</label>
        {{ cadastro_tarefa.hora() }}
        {% if cadastro_tarefa.errors.hora %}
        {{ cadastro_tarefa.errors.hora }}
        {% endif%}
    </div>

    <button type="submit">Cadastrar Tarefa</button>
</form>
</p>
<p>
<form action="{{ url_for('pessoaTarefa') }}" method="POST">
    {{ pessoas_tarefas.csrf_token }}
    <div class="form-group">
        <label>Nome</label>
        {{ pessoas_tarefas.pessoa_id() }}
        {% if pessoas_tarefas.errors.pessoa_id %}
        {{ pessoas_tarefas.errors.pessoa_id }}
        {% endif%}
    </div>
    <div class="form-group">
        <label>Tarefa</label>
        {{ pessoas_tarefas.tarefa_id() }}
        {% if pessoas_tarefas.errors.tarefa_id %}
        {{ pessoas_tarefas.errors.tarefa_id }}
        {% endif%}
    </div>

    <button type="submit">Colocar Pessoa na Tarefa</button>
</form>
</p>
<p>
    <form action="{{ url_for('apagarPessoaTarefa') }}" method="POST">
        {{ pessoas_tarefas.csrf_token }}
        <div class="form-group">
            <label>Nome</label>
            {{ pessoas_tarefas.pessoa_id() }}
            {% if pessoas_tarefas.errors.pessoa_id %}
            {{ pessoas_tarefas.errors.pessoa_id }}
            {% endif%}
        </div>
        <div class="form-group">
            <label>Tarefa</label>
            {{ pessoas_tarefas.tarefa_id() }}
            {% if pessoas_tarefas.errors.tarefa_id %}
            {{ pessoas_tarefas.errors.tarefa_id }}
            {% endif%}
        </div>
    
        <button type="submit">Retirar Pessoa da Tarefa</button>
    </form>
    </p>
<p>
<form action="{{ url_for('apagarTarefa') }}" method="POST">
    {{ apagar_tarefa.csrf_token }}
    <div class="form-group">
        <label>id da Tarefa</label>
        {{ apagar_tarefa.id() }}
        {% if apagar_tarefa.errors.id %}
        {{ apagar_tarefa.errors.id }}
        {% endif%}
    </div>
    <button type="submit">Apagar Tarefa</button>
</form>
</p>
<p><a href="{{ url_for('entrada') }}">Voltar para página inicial</a></p>
{% endblock%}