{% extends 'base.html' %}

{% block content%}
<p>Bem vindo(a), {{ nome }}.<p>
<h2>Cadastro de Tarefas</h2>
<p><a href="#tabela" class="menulink">Tabela</a> - <a href="#cadastrar" class="menulink">Cadastrar</a> - <a href="#importar" class="menulink">Importar</a> - <a href="#atualizar" class="menulink">Atualizar</a> - <a href="#atribuir" class="menulink">Atribuir</a> - <a href="#apagar" class="menulink">Apagar</a></p>
{% if grupoTarefas %}
<p><table id="tabela">
    <caption>
        Tabela de Tarefas Atribuídas
    </caption>
    <thead>
        <tr>
            <th>id</th>
            <th>Tarefa</th>
            <th>Voluntário</th>
            <th>Local</th>
            <th>Data</th>
            <th>Hora</th>
        </tr>
    </thead>
    <tbody>
        {% for tarefa in grupoTarefas %}
        <tr>
            <td>{{ tarefa[0] }}</td>
            <td>{{ tarefa[1] }}</td>
            <td>{{ tarefa[2] }}</td>
            <td><a href="https://www.google.com/maps/search/?api=1&query={{ defLocal(tarefa[3]) }}" target=”_blank”>{{ tarefa[3] }}</a></td>
            <td>{{ tarefa[4] }}</td>
            <td>{{ tarefa[5] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table></p>
{% else %}
<p>Não há tarefas.</p>
{% endif %}

<p>
<form id="cadastrar" action="{{ url_for('cadastroTarefa') }}" method="POST">
    {{ cadastro_tarefa.csrf_token }}
    <div class="form-group">
        <label>Tarefa</label>
        {{ cadastro_tarefa.tarefa() }}
        {% if cadastro_tarefa.errors.tarefa %}
        {{ cadastro_tarefa.errors.tarefa }}
        {% endif%}
    </div>
    <div class="form-group">
        <label>Local</label>
        {{ cadastro_tarefa.local() }}
        {% if cadastro_tarefa.errors.local %}
        {{ cadastro_tarefa.errors.local }}
        {% endif%}
    </div>
    <div class="form-group">
        <label>Data Inicial</label>
        {{ cadastro_tarefa.data() }}
        {% if cadastro_tarefa.errors.data %}
        {{ cadastro_tarefa.errors.data }}
        {% endif%}
    </div>
    <div class="form-group">
        <label>Data Final</label>
        {{ cadastro_tarefa.dataFinal() }}
        {% if cadastro_tarefa.errors.dataFinal %}
        {{ cadastro_tarefa.errors.dataFinal }}
        {% endif%}
    </div>
    <div class="form-group">
        <label>Dias da Semana:</label>
        <br>
        <label>Segunda</label>
        {{ cadastro_tarefa.segunda() }}
        {% if cadastro_tarefa.errors.segunda %}
        {{ cadastro_tarefa.errors.segunda }}
        {% endif%}
        <label> | Terça</label>
        {{ cadastro_tarefa.terca() }}
        {% if cadastro_tarefa.errors.terca %}
        {{ cadastro_tarefa.errors.terca }}
        {% endif%}
        <label> | Quarta</label>
        {{ cadastro_tarefa.quarta() }}
        {% if cadastro_tarefa.errors.quarta %}
        {{ cadastro_tarefa.errors.quarta }}
        {% endif%}
        <label> | Quinta</label>
        {{ cadastro_tarefa.quinta() }}
        {% if cadastro_tarefa.errors.quinta %}
        {{ cadastro_tarefa.errors.quinta }}
        {% endif%}
        <label> | Sexta</label>
        {{ cadastro_tarefa.sexta() }}
        {% if cadastro_tarefa.errors.sexta %}
        {{ cadastro_tarefa.errors.sexta }}
        {% endif%}
        <label> | Sábado</label>
        {{ cadastro_tarefa.sabado() }}
        {% if cadastro_tarefa.errors.sabado %}
        {{ cadastro_tarefa.errors.sabado }}
        {% endif%}
        <label> | Domingo</label>
        {{ cadastro_tarefa.domingo() }}
        {% if cadastro_tarefa.errors.domingo %}
        {{ cadastro_tarefa.errors.domingo }}
        {% endif%}
    </div>
    <div class="form-group">
        <label>Hora</label>
        {{ cadastro_tarefa.hora() }}
        {% if cadastro_tarefa.errors.hora %}
        {{ cadastro_tarefa.errors.hora }}
        {% endif%}
    </div>

    <button type="submit">Cadastrar Tarefa</button>
</form>
</p>

<p>
<form id="importar" action="{{ url_for('importarTarefas') }}" method="POST" enctype="multipart/form-data">
    {{ cadastro_tarefa.csrf_token }}
    <div class="form-group">
        <label><a href="{{ url_for('download') }}">Modelo de Arquivo</a></label>
    </div>
    <div class="form-group">
        <label>Arquivo</label>
        <input type="file" name="arquivo" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
    </div>
    <button type="submit">Importar Tarefas</button>
</form>
</p>

<p>
<form id="atualizar" action="{{ url_for('atualizarTarefa') }}" method="POST">
    {{ cadastro_tarefa.csrf_token }}
    <div class="form-group">
        <label>Tarefa</label>
        {{ atualizar_tarefa.tarefa() }}
        {% if atualizar_tarefa.errors.tarefa %}
        {{ atualizar_tarefa.errors.tarefa }}
        {% endif%}
    </div>
    <div class="form-group">
        <label>Local</label>
        {{ atualizar_tarefa.local() }}
        {% if atualizar_tarefa.errors.local %}
        {{ atualizar_tarefa.errors.local }}
        {% endif%}
    </div>
    <div class="form-group">
        <label>Data</label>
        {{ atualizar_tarefa.data() }}
        {% if atualizar_tarefa.errors.data %}
        {{ atualizar_tarefa.errors.data }}
        {% endif%}
    </div>
    <div class="form-group">
        <label>Hora</label>
        {{ atualizar_tarefa.hora() }}
        {% if atualizar_tarefa.errors.hora %}
        {{ atualizar_tarefa.errors.hora }}
        {% endif%}
    </div>

    <button type="submit">Atualizar Tarefa</button>
</form>
</p>

<p>
<form id="atribuir" action="{{ url_for('pessoaTarefa') }}" method="POST">
    {{ pessoas_tarefas.csrf_token }}
    <div class="form-group">
        <label>Nome</label>
        {{ pessoas_tarefas.pessoa_id() }}
        {% if pessoas_tarefas.errors.pessoa_id %}
        {{ pessoas_tarefas.errors.pessoa_id }}
        {% endif%}
    </div>
    <div class="form-group">
        <label>Tarefa</label>
        {{ pessoas_tarefas.tarefa_id() }}
        {% if pessoas_tarefas.errors.tarefa_id %}
        {{ pessoas_tarefas.errors.tarefa_id }}
        {% endif%}
    </div>

    <button type="submit" name="direcionar" value="colocar">Colocar Pessoa na Tarefa</button>
    <button type="submit" name="direcionar" value="tirar">Retirar Pessoa da Tarefa</button>
</form>
</p>
<p>
<form id="apagar" action="{{ url_for('apagarTarefa') }}" method="POST">
    {{ apagar_tarefa.csrf_token }}
    <div class="form-group">
        <label>Tarefa</label>
        {{ apagar_tarefa.tarefa_id() }}
        {% if apagar_tarefa.errors.tarefa_id %}
        {{ apagar_tarefa.errors.tarefa_id }}
        {% endif%}
    </div>
    <button type="submit">Apagar Tarefa</button>
</form>
</p>
<p><a href="{{ url_for('entrada') }}">Voltar para página inicial</a></p>
{% endblock%}