{% extends 'base.html' %}
<script src="/static/js/script.js"></script>
{% block content%}
<p>Bem vindo(a), {{ nome }}.<p>
<h2>Relatórios</h2>
{% if admin == True %}
<p><a href="#usuarios" class="menulink">Usuários</a> - <a href="#tarefas" class="menulink">Tarefas</a></p>
    {% if grupoPessoas %}
<p><table id="usuarios">
    <caption>
        Relatório de Usuários
    </caption>
    <thead>
        <tr>
            <th>id</th>
            <th>Nome</th>
            <th>Password</th>
            <th>Telefone</th>
            <th>admin</th>
        </tr>
    </thead>
    <tbody>
        {% for pessoa in grupoPessoas %}
        <tr>
            <td>{{ pessoa[0] }}</td>
            <td>{{ pessoa[1] }}</td>
            <td>{{ pessoa[2] }}</td>
            <td>{{ pessoa[3] }}</td>
            <td>{{ pessoa[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table></p>
    {% else %}
<p>Não há pessoas.</p>
    {% endif %}
<p>
    <div class="form-group">
        <label>Filtrar por Tarefa:</label>
        <select onchange="esconderLinhaTarefa(value)" name="selectTarefa">
            <option value="todas">Todas</option>
            {% for tarefa in listaTarefasUnicas %}
            <option value="{{ tarefa }}">{{ tarefa }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label>Filtrar por Data:</label>
        <select onchange="esconderLinhaData(value)" name="selectData">
            <option value="todas">Todas</option>
            {% for data in listaDatasUnicas %}
            <option value="{{ data }}">{{ data }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label>Filtrar por Nome:</label>
        <select onchange="esconderLinhaNome(value)" name="selectNome">
            <option value="todas">Todos</option>
            {% for nome in listaNomesUnicos %}
            <option value="{{ nome }}">{{ nome }}</option>
            {% endfor %}
        </select>
    </div>
</p>


    {% if grupoTarefasAdmin %}
<p><table id="tarefas">
    <caption>
        Relatório de Tarefas
    </caption>
    <thead>
        <tr>
            <th>id</th>
            <th>Tarefa</th>
            <th>Nome</th>
            <th>Local</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Envio de mensagem</th>
        </tr>
    </thead>
    <tbody id="tabelaAdmin">
        {% for tarefa in grupoTarefasAdmin %}
        <tr>
            <td>{{ tarefa[0] }}</td>
            <td id="tarefaValores">{{ tarefa[1] }}</td>
            <td>{{ tarefa[2] }}</td>
            <td><a href="https://www.google.com/maps/search/?api=1&query={{ defLocal(tarefa[3]) }}" target=”_blank”>{{ tarefa[3] }}</a></td>
            <td>{{ tarefa[4] }}</td>
            <td>{{ tarefa[5] }}</td>
            <td><a href="https://wa.me//{{ tarefa[6] }}?text={{ tarefa[7] }}" target="_blank">Enviar lembrete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table></p>
    {% else %}
<p>Não há tarefas.</p>
    {% endif %}

{% else %}
<p><a href="#tarefasDois" class="menulink">Tarefas</a></p>
    {% if grupoTarefas %}
<p><table id="tarefasDois">
    <caption>
        Tarefas de {{ nome }}
    </caption>
    <thead>
        <tr>
            <th>id</th>
            <th>Tarefa</th>
            <th>Nome</th>
            <th>Local</th>
            <th>Data</th>
            <th>Hora</th>
        </tr>
    </thead>
    <tbody>
        {% for tarefa in grupoTarefas %}
        <tr>
            <td>{{ tarefa[0] }}</td>
            <td>{{ tarefa[1] }}</td>
            <td>{{ tarefa[2] }}</td>
            <td><a href="https://www.google.com/maps/search/?api=1&query={{ defLocal(tarefa[3]) }}" target=”_blank”>{{ tarefa[3] }}</a></td>
            <td>{{ tarefa[4] }}</td>
            <td>{{ tarefa[5] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table></p>
    {% else %}
<p>Não há tarefas.</p>
    {% endif %}
{% endif %}

<script>
    function esconderLinhaTarefa(valor){
        var tabela = document.getElementById('tabelaAdmin');
        var linhas = tabela.querySelectorAll('tr');
        var i = 0;
        var coluna;
        for(i=0; i<linhas.length; i++){
            var coluna = linhas[i].querySelector('td:nth-child(2)').textContent;

            if (coluna != valor) {
                linhas[i].style.display = 'none';
            }

            if (coluna === valor) {
                linhas[i].style.display = '';
            }

            if (valor === "todas") {
                linhas[i].style.display = '';
            }
        }
    }
    function esconderLinhaData(valor){
        var tabela = document.getElementById('tabelaAdmin');
        var linhas = tabela.querySelectorAll('tr');
        var i = 0;
        var coluna;
        for(i=0; i<linhas.length; i++){
            var coluna = linhas[i].querySelector('td:nth-child(5)').textContent;

            if (coluna != valor) {
                linhas[i].style.display = 'none';
            }

            if (coluna === valor) {
                linhas[i].style.display = '';
            }

            if (valor === "todas") {
                linhas[i].style.display = '';
            }
        }
    }
    function esconderLinhaNome(valor){
        var tabela = document.getElementById('tabelaAdmin');
        var linhas = tabela.querySelectorAll('tr');
        var i = 0;
        var coluna;
        for(i=0; i<linhas.length; i++){
            var coluna = linhas[i].querySelector('td:nth-child(3)').textContent;

            if (coluna != valor) {
                linhas[i].style.display = 'none';
            }

            if (coluna === valor) {
                linhas[i].style.display = '';
            }

            if (valor === "todas") {
                linhas[i].style.display = '';
            }
        }
    }
</script>

<p><a href="{{ url_for('entrada') }}">Voltar para página inicial</a></p>
{% endblock%}
